/*
 **  vraiable 
**/
:root {
    --main-color : #10cab7 ;
    --main-padding-top : 60px;
    --main-padding-bottom : 60px ;
    
}
/*make  media query for width  of the container */

@media (min-width :768px) {
    .container {
        width: 750px;
    }
}
@media (min-width :992px) {
     .container {
        width: 970px;
     }
}
@media (min-width  :1200px) {
    .container {
        width: 1150px;
    }
}
/* conatiner used to make width for all the page
 **  this class will be used  in all classes and section in the web
*/
.container {
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;    
}
/*end the fixed container*/
/*start the header of the page 
**  contians all  classes in the header 
*/
header .logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
/*conatiner header */
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .links {
    position: relative;
}
header .links .icon_link {
    display: flex;
    flex-wrap: wrap;
    width: 30px;
    flex-direction: row-reverse;
}
header .links .icon_link {
    position: absolute;
    top: 10px;
    right: 0;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
header .links .icon_link span {
    background-color: black;
    margin-bottom: 5px;
    height: 1.5px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
header .links .icon_link:hover span {
    background-color: crimson;
}
header .links .icon_link:hover {
    width: 50px;
}
header .links .icon_link:hover span:nth-child(2) {
    width: 100%;
}
header .links .icon_link span:first-child {
    width: 100%;
}
header .links .icon_link span:nth-child(2) {
     width: 50%;
}
header .links .icon_link span:last-child {
    width: 100%;
}

/*make the style of the links */
header .links:hover ul {
    display: block;
    z-index: 1;
}
header .links ul {
    display: none;
    position: absolute;
    list-style: none;
    right: 10px;
    top: calc(100% + 50px);
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    min-width: 200px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
header .links ul::before {
    content: "";
    border-width: 15px;
    margin: 0;
    padding: 0;
    border-style: solid;
    border-color: transparent transparent #f5f5f5  transparent;
    position: absolute;
    right: 5px;
    top: -29px;
}
header .links ul li {
    display: block;
    padding: 20px;
}
header .links  ul li:hover {
    background-color: crimson;
}
header .links ul li:not(:last-child):hover  {
    border-bottom: #222 1px solid; 
}
header .links ul li a {
    text-decoration: none;
    color: #222;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
header .links ul li a:hover {
    padding-left: 10px;
    font-size: 20px;
    font-weight: bold;
}
/*end the header of  the page*/
/*start landing */
.landing {
    background-image: url(../img/landing.jpg);
    background-size: cover;
    height: calc(100vh - 100px);
    position: relative;
    
}
.landing .intro_text h1 {
    margin: 0;
    color: var(--main-color);
    font-size: 50px;
    font-weight: bold;
    line-height: 1.8;
}
.landing .intro_text p {
    color: var(--main-color);
    font-size: 20px;

}
.landing .intro_text {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50% , -50%);
    -webkit-transform: translate(-50% , -50%);
    -moz-transform: translate(-50% , -50%);
    -ms-transform: translate(-50% , -50%);
    -o-transform: translate(-50% , -50%);
}
/*end landing*/
/* start features */
  .features . {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    background-color: #f6f6ff;
  }
  .features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px , 1fr));
    grid-gap: 20px;
  }
  .features .feat {
    margin: 30px;
    text-align: center;
  }
  .features .feat i{
    font-size: 40px;
    color: var(--main-color);
  }
  .features .feat h3 {
    font-weight: 800;
  }
  .features .feat p {
    color: #777;
    line-height: 1.8;
  }
/*end features*/
/*start services*/
/*make media for width of special heading*/
@media (max-width :768px) {
    .special_heading h1 {
        font-size: 60px;
    }
}
@media (min-width :769px) {
    .special_heading h1 {
        font-size: 100px;
    }
}
  .special_heading h1 {
    color: #eeeee7;
    letter-spacing: -3px;
    text-align: center;
    margin: 0 ;
    text-transform: uppercase;    
}
 .special_heading  + p {
    text-align: center;
    color: #212020;
    font-size: 30px;
    margin: -30px;
    z-index: 1;
}
.services .container .service_content{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px , 1fr));
}
.services .col {
    margin: 20px;
}
.services .col .ser {
    display: flex;
    margin-bottom: 30px;
    padding: 10px;
}
.services .service_content .col i {

    margin: 10px;
    color: var(--main-color);
    font-size: 50px;
}
.services .service_content .col .ser .text {
    padding-left: 10px;
    color: #666;
}
.services .service_content .col .ser .text h3 {
    font-size: 20px;
    text-transform: capitalize;
    
}

/* make media for phone that show the service*/

@media (max-width : 768px) {
    .services .service_content .col .ser {
        flex-direction: column;
        text-align: center;
    }
}

.services .service_content .col .col_image {
    position: relative;
    top: 50px;
    width: 100%;
    text-align: center;
}
.services .service_content  .col  .col_image::before {
    position: absolute;
    content: "";
    width: 20%;
    top: -10px;
    right: 35%;
    height: calc(100% + 20px);
    background-color: #ebf1f0;
}
.services .service_content .col .col_image .img_service {
    z-index: 1;
}
/* make media that delete image in small screen*/
@media (max-width : 1200px ) {
    .services .service_content .col .col_image {
        display: none;
    }
}
/*end services*/
/* start portofilo*/
.portofilo {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    background-color: #ddd;
   
}
.portofilo .portofilo_content{
    margin-top: var(--main-padding-top);
    display: grid;
    background-color: #fff;
    grid-template-columns: repeat(auto-fill, minmax(300px , 1fr));
}
.portofilo .portofilo_content .card {
    margin: 10px;
}
.portofilo .portofilo_content .card  img {
    width: 100%;  
}
.portofilo .portofilo_content .card .text h3 {
    color: #10cab7;
    text-transform: capitalize;
    font-weight: 800;
}
.portofilo .portofilo_content .card .text p {
    color: #777;
}
/*end portofilo*/
/*start about  section */
.about {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
}
.about .about_content {
    margin-top: var(--main-padding-bottom);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between  ;
}

.about .about_content .col .img_about  {
    position: relative;
    width: 350px;
    height : 450px
}
.about .about_content .col .img_about   img {
     max-width: 100%;
}
.about .about_content .col .img_about::before {
    content: "";
    position: absolute;
    width: 100px;
    height: calc(100% + 60px);
    top: -30px;
    left: -40px;
    background-color: #cee3e7;
    border-radius: 5px;
    z-index: -1;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.about .about_content .col .img_about::after {
    content: "";
    position: absolute;
    border-left: 58px #10cab7 solid;
    border-bottom: 61px #10cab7 solid;
    height: 350px;
    width: 100px;
    top: -23px;
    right: -123px;
    z-index: -1;
}
.about .about_content .text {
    flex-basis: calc(100% - 500px);
}
.about .about_content .text h2 {
    color: #10cab7;
    font-weight: bolder;
}
.about .about_content .text p {
    line-height: 1.8;
    font-size: 20px;
}
/*remove about image form media */
@media (max-width : 1200px) {
    .about .about_content .col .img_about {
        display: none;
    }
    .about .about_content .text {
        flex-basis: 100%;
    }
}
/*end about section*/